.login-page {
  padding-top: 40px;
}

.login-title {
  font-size: 28px;
  font-weight: 600;
  color: #1d2226;
  line-height: 36px;
  margin-bottom: 14px;
}

.login-subtitle {
  font-size: 18px;
  line-height: 26px;
  color: rgba(29, 34, 38, 0.6);
  margin-bottom: 34px;
}

.login-btn {
  margin-top: 6px;
}

.login-btn .btn {
  background: #cbcbcb;
  color: #ffffff;
}

.login-btn .btn.active {
  background: #6c25ff;
}