.welcome-page {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.welcome-content {
  width: 100%;
  padding-bottom: 41px;
}

.welcome-title {
  font-size: 28px;
  font-weight: 600;
  color: #1d2226;
  line-height: 34px;
  margin-bottom: 10px;
}

.welcome-text {
  font-size: 18px;
  line-height: 26px;
  color: rgba(29, 34, 38, 0.6);
  margin-bottom: 29px;
}

.welcome-btn {
  margin-bottom: 10px;
}